@import "tailwindcss";

:root {
  --background: #d8e0e8;
  --foreground: #0e171b;
  --primary: #00b2ff;
  --primary-hover: #009ee0;
  --secondary: #bccad8;
  --accent: #365b6d;
  --heading: #223a44;
  --dark: #0e171b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-heading: var(--heading);
  --color-dark: var(--dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
